body {
    background-color: rgb(84, 95, 86);
}
.block {
    width: 200px;
    height: 200px;
    background-color: rgb(139, 0, 132);
}
h1 {
    color: dodgerblue;
    font-size: 36px;
}
p {
    color: rgb(27, 233, 164);
    font-size: 20px;
}
.image{
    width: 350px;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 100px;
    img {
        width: 100%;
        height: 100%;
    }
}
.image1 {
    width: 350px;
    height: 350px;
    
    background: url(../img/Santa-Barbara.png);
}